type project
authors Cody Johnson
description
    Web workers in Fable made easy, exposed as React hooks and Elmish commands.
language
    F#
tags
    fsharp, fable, react, web worker, workers, feliz
files
    *.fsproj ==> fable
    *.fs ==> fable
